.sea {
  fill: #002255;
}

.graticule {
  fill: none;
  stroke: #777;
}

.country_0 { fill: #396c67; }
.country_1 { fill: #518f78; }
.country_2 { fill: #65b598; }
.country_3 { fill: #254750; }
.country_4 { fill: #81dcb9; }

.coastline {
  fill: none;
  stroke: #eee;
  stroke-width: 1px;
}

svg {
  position: absolute;
  z-index:  0;
  display: inline;
}

canvas {
  position: absolute;
  z-index: 10;
  display: inline;
}


